xlabel = stage
ylabel = checkpoint write rate (MB/s)

width  = 400
height = 400

label.writes-X743.data = Summit E=10
# label.builds-X744.data = Summit E=50
label.writes-X750.data = Spock  E=10
# label.builds-X746.data = Spock  E=50


# legend.enabled = false
